* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home_hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('https://images.pexels.com/photos/914128/pexels-photo-914128.jpeg?cs=srgb&dl=pexels-saikat-ghosh-323099-914128.jpg&fm=jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.home_hero h1 {
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.popular-treks {
    padding: 50px 10%;
    text-align: center;
    width: 100%;
}

.why-trek h2,
.popular-treks h2 {
    width: 100%;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.trek_cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.trek_card {
    flex: 1 1 calc(25% - 20px);
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.trek_card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.trek_card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.trek_card h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

.trek_card p {
    font-size: 1em;
    color: #555;
}

.robot {
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    background: url('https://static.vecteezy.com/system/resources/previews/024/822/725/original/cute-cartoon-robot-on-transparent-background-ai-generated-digital-illustration-png.png') no-repeat center center/contain;
    transition: right 0.5s;
    cursor: pointer;
    z-index: 1001;
}

.robot:hover {
    right: 0;
}

.thought-bubble {
    position: fixed;
    right: 90px;
    bottom: 100px;
    background-color: white;
    color: #333;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    z-index: 1002;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.thought-bubble.show {
    opacity: 1;
    visibility: visible;
}

.thought-bubble.hide {
    opacity: 0;
    visibility: hidden;
}

.thought-bubble::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent white;
    transform: translateY(-50%);
}

.why-trek {
    padding: 50px 10%;
    background-color: #fff;
    text-align: center;
    margin-top: 50px;
}

.why-trek-container {
    display: flex;
}

.homefeatures-container {
    width: 50%;
}

.animation-container {
    width: 50%;
}

.homefeatures {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s;
}


.homefeature {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    transition: transform 0.3s;
    max-width: 230px;
    min-width: 200px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;

}

.homefeature:hover {
    transform: scale(1.05);
}

.homefeature i {
    color: #ff6347;
    margin-bottom: 15px;
}

.homefeature h3 {
    font-size: 1em;
    margin-bottom: 10px;
    color: #333;
}

.homefeature p {
    font-size: 1em;
    color: #555;
}

.happy-trekkers {
    padding: 50px 10%;
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.happy-trekkers h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

@media (max-width:1115px) {
    .why-trek-container {
        flex-direction: column;
        padding: 20px;
    }

    .animation-container,
    .homefeatures-container {
        width: 100%;
    }

    .homefeature {
        max-width: 260px;
    }

}


@media (max-width: 900px) {

    .trek_card {
        flex: 1 1 calc(50% - 20px);
    }

    .trek_cards {
        flex: 1 1 calc(50% - 20px);
    }
}


@media (max-width: 768px) {

    .home_hero h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .trek_card {
        flex: 1 1 100%;
    }

    .trek_cards {
        flex: 1 1 100%;
    }

    .home_hero h1 {
        font-size: 1.5em;
    }
}